html {
    scroll-behavior: smooth;
  }

body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
   
    color:#fff;
    line-height: 1.5;
    text-align: center;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

h1,h2,h3 {
    margin:0;
    padding: 1em 0;
  
}
h1 {
    font-size: 40px;
    font-family: sans-serif;
}
p{
    margin:0;
    padding: 1em 0;
    text-align: center;
}
.btn:hover {
    background-color: #eaeaea;
    color:#333;
}

.btn:hover {
    background-color: #eaeaea;
    color:#333;
}

.btn-2{
    display:inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding:5px;
    border:1px solid #333;
    margin:  0;
}
.btn-2:hover {
    background-color: #fff;
    color:#333;
}
/* header */
#showcase .bg-img-flourish {
    position: relative;
    background: #333 url('../assets/Flourish/FlourishandBlotts.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    z-index: -1;
    opacity: 0.9;
}



/* section a */
#section-a{
    background: #eaeaea;
    color:#333;
}
#section-a h4{
    font-size:1em;
    padding-left: 10%;
    padding-right:10%; 
    margin: auto;
}
/* section-b */

#section-b{
    padding:0;
}

#section-b ul {
    list-style: none;
    margin:0;
    padding: 0;
}

#section-b li{
    margin-bottom: 1em;
    background: #fff;
    color:#333;
}

.card-content{
    padding: 1.5em;
}
.card-title{
    padding: 0.5em;
}
/* section-c */

#section-c{
    background: #fff;
    color:#333;
    padding: 0;
}
#section-c h4{
    font-size:1em;
    padding:2em;
    margin-top:1em;
}
/* footer */

#main-footer{
    padding: 2em;
    background: #000;
    color:#fff;
    text-align: center;
}
#main-footer a{
    columns: #2690d4;
    text-decoration: none;
}


/* media */

@media(min-width:700px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr repeat(minmax(auto,25em)) 1fr;
    }
#section-b {
    width: 80%;
    margin:auto;
}

#showcase .bg-img-flourish {
    position: relative;
    background: #333 url('../assets/Flourish/FlourishandBlotts.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: 1;
    opacity: 0.9;
    
}
#section-a .content-text {
    width: 80%;
    margin: auto;
   
}
#section-a h4{
    padding-left: 10%;
    padding-right:10%; 
    margin: auto;
}
#section-a .content-text p{
    padding-top:0;
}
.content-wrap,section-b ul {
    grid-column: 2/4;
}
#section-b ul {
    display: flex;
    justify-content: space-around;
    
}

#section-b li {
    width: 31%;
}

#shop{
    margin: 0;
    padding: 0;  
}
#section-c{
   
    height: 300px;
    width:100%;
   
}
#section-c h4{
    display: flex;
    justify-content: center;
    text-align: center;
    padding:100px;
}
#main-footer{
    padding-top:3em;
    width: 100%;
    height: 300px;
    margin:auto;
}
.box{
    width: 80%;
    height: auto;
    margin: auto;
}
}